[submodule "Octopus"]
	path = Octopus
	url = git@github.com:workfoxes/Octopus.git
[submodule "seahorse"]
	path = seahorse
	url = git@github.com:workfoxes/seahorse.git
[submodule "orca"]
	path = orca
	url = git@github.com:workfoxes/orca.git
	branch = HEAD
